/exercises/target/
/Exercises/target/
/Aula01/build/
/Aula02/target/
/Aula04/nbproject/private/
/Aula04/build/
/Aula05/nbproject/private/
/Aula05/build/
/Aula06/nbproject/private/
/JavaApplication10/nbproject/private/
/Aula06/build/
/Aula7/nbproject/private/
/Aula07/build/
/JavaApplication14/nbproject/private/
/Aula08/build/